* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	width: auto;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0;
	line-height: 1.8em;
	background: #aadbc8 url(../images/g1.jpg) repeat;
	color: #393939;
}

a {
	color: #ffde84;
	text-decoration: none;
}

a:hover {
	color: #ecb60a;
}

a.poplight :hover {
	color: #ecb60a;
}

a img {
	border: 0px;
}

a:hover img {
	border: 1px;
}

ul {
	padding: 0
}

li {}

p {
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
	background: none;
}

#contain {
	position: relative;
	margin: 0px auto;
}

#container {
	margin: 0px auto;
}

#containerSouvenir {
	margin: 0px auto;
	background: #fff;
	background: #a25713 url(../images/bgWood.jpg) repeat-x center top;
	position: relative;
	padding-bottom: 20px;
}

#containerProductSouvenir {
	margin: 0px auto;
	position: relative;
}


/*-------------------------------Fonts------------------------------*/

h1 {
	font-size: 24px;
	color: #d00018;
	margin-bottom: 5px;
	padding-bottom: 3px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	color: #d00018;
	letter-spacing: -1px;
	margin-bottom: 5px;
}

h3 {
	font-size: 18px;
	color: #d00018;
	letter-spacing: -1px;
	margin-bottom: 5px;
}

h4 {
	font-size: 17px;
	color: #5a5a5a;
}

h5 {
	font-size: 17px;
	color: #d00018;
}

h6 {
	font-size: 17px;
	color: #d00018;
}

h6 a {
	font-size: 17px;
	color: #d00018;
}

em {
	font-size: 15px;
	color: #35373e;
	font-weight: bold;
}

.coloumnRightSouvenir p {
	padding-bottom: 10px;
}

.coloumnRightSouvenir h3 {
	font-size: 22px;
	color: #0b7aa8;
	margin-bottom: 5px;
	letter-spacing: 0px;
}

.coloumnRightSouvenir h5 {
	font-size: 14px;
	color: #d00018;
	display: inline;
	background: #ffc63e url(../images/btnYellow.jpg) repeat-x;
	padding: 5px 5px 5px 5px;
	border: 1px solid #f19a0d;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}


/*-------------------------------Header------------------------------*/

#header {
	margin: 0px auto;
	height: 65px;
	background: #fff url(../images/topbar.jpg) repeat-x top center;
}

#contentHeader {
	width: 960px;
	margin: 0px auto;
	display: block;
	padding-top: 18px;
	position: relative;
}

#cmyk {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 11px;
	color: #c90d14;
	height: 10px;
	display: block;
	z-index: 999;
}

.listHeader {
	height: 5px;
	background: url(../images/listHeader.jpg) repeat-x bottom left;
}

#logo img {
	float: left;
}


/*-------------------------------Menu------------------------------*/

.menu {
	margin: 0;
	padding: 0;
	float: right;
	display: inline;
}

.menu ul {
	margin: 0 auto;
	clear: both;
	margin-top: 10px;
}

.menu li {
	margin: 0;
	float: left;
	list-style: none;
	text-align: center;
}

.menuDiv {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	margin-top: 6px;
	border-top: 3px solid #980910;
	z-index: 999;
	background: #d91a23 url(../images/bgMenu.jpg) repeat-x top left;
}

.menuDiv a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 20px 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font: 11px;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px dashed #ba121a;
}

.menuDiv a:hover {
	background: #ff0000;
	color: #FFF;
}

.demo_container {
	width: 980px;
	margin: 0 auto;
}

#demo_top_wrapper {
	margin: 0 0 20px 0;
}

#demo_top {
	height: 100px;
	padding: 20px 0 0 0;
}

#my_logo {
	font: 70px Georgia, serif;
}

#kategoriSouvenir {
	text-align: center;
	background: #272727;
	color: #fff;
	padding: 5px;
	width: 140px;
	float: right;
	font-size: 14px;
}

#sticky_navigation_wrapper {
	width: 100%;
	height: 100px;
	padding-bottom: 40px
}

#sticky_navigation {
	width: 100%;
	height: 85px;
	background: url(../images/trans-black-40.png);
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

#sticky_navigation ul {
	list-style: none;
	margin: 0;
}

#sticky_navigation ul li {
	margin: 0;
	padding: 0;
}

#sticky_navigation ul li a {
	width: 106px;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	margin: 5px 0 0 5px;
	padding: 0 8px;
	padding-left: 5px;
	padding-right: 15px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	font-family: Arial, Helvetica, serif;
	color: #4b4949;
	background: #f5f5f5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#sticky_navigation ul li a:hover {
	color: #fff;
	background: #df0707;
}

#sticky_navigation ul li a.selected {
	color: #fff;
	background: #df0707;
}

#sticky_navigation ul li img {
	height: 25px;
	vertical-align: middle;
	margin-right: 3px;
}


/*-------------------------------Content------------------------------*/

#content {
	border: 1px solid #c8c8c8;
	border-top: 0px;
	padding: 20px;
	padding-top: 80px;
	padding-bottom: 50px;
	background: #fff;
	width: 920px;
	margin: 0px auto;
}

#contentSouvenir {
	border-top: 0px;
	padding: 20px;
	padding-bottom: 50px;
	margin: 0px auto;
}

#contentSouvenir2 {
	border-top: 0px;
	padding: 20px;
	padding-bottom: 50px;
	margin: 0px auto;
	border: 1px solid #c8c8c8;
	background: #fff;
}

#contentThumbSouvenir {
	padding: 20px;
	padding-bottom: 50px;
	padding-top: 60px;
	margin: 0px auto;
	border: 1px solid #c8c8c8;
	background: #fff;
}

.productSouvenir {
	margin-bottom: 10px;
	background: #fff url(../images/bgSilver.jpg) repeat-x top center;
}

.productSouvenir:hover {
	background: #fff url(../images/bgSilverHover.jpg) repeat-x top center;
	bottom: 5px;
}

.productPETER p {
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background: #fff;
}

.productSouvenir p {
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background: #fff;
}

p.newItems {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/new_product.png) no-repeat top right;
	border: 0px;
	width: 164px;
	height: 98px;
}

p.hotItems {
	position: absolute;
	top: -15px;
	left: 0;
	background: url(../images/hot_items.png) no-repeat center;
	border: 0px;
	width: 100%;
	margin: auto;
	height: 52px;
	text-align: center;
}

p.bestPrice {
	position: absolute;
	top: -15px;
	left: 0;
	background: url(../images/best_price.png) no-repeat center;
	border: 0px;
	width: 100%;
	margin: auto;
	height: 52px;
	text-align: center;
}

@media (min-width: 400px) and (max-width: 550px) {
	p.newItems,
	p.hotItems,
	p.bestPrice {
		background-size: 70% 70%;
	}
}

.productPETER img {
	width: 200px;
}

.productSouvenir img {
	width: 100%;
}

.product a img {
	opacity: 1;
}

.product a:hover img {
	opacity: 1;
}

#gallery ul a:hover {}

.product h2 {
	text-align: center;
	font-size: 13px;
	line-height: normal;
	font-weight: bold;
	margin: 0 auto;
}

.product h2 span {
	text-align: center;
	font-size: 12px;
	line-height: normal;
	color: #666;
}

.product h2 a:hover span {
	text-align: center;
	font-size: 12px;
	line-height: normal;
	color: #fcff04;
}

.product h2 a {
	color: #0b7aa8;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 1px;
	text-decoration: none;
}

.product h2 a:hover {
	color: #fff;
	background: #dc030e;
}

h2 a.active {
	color: #fff;
	background: #dc030e;
}

.product_thumb {
	float: left;
	width: 100px;
	overflow: hidden;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background: #f1f1f1;
	display: inline;
}

.product_thumb p {
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background: #fff;
	height: 70px;
}

.product_thumb img {
	width: 100px;
}

.product_thumb h2 {
	text-align: center;
	font-size: 10px;
	line-height: normal;
}

.product_thumb h2 a {
	color: #666;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1px;
}

.product_thumb h2 a:hover {
	color: #fff;
	background: #dc030e;
}

.price {
	background: #dc030e;
	padding: 10px 10px 10px 20px;
	margin-top: 10px;
	font-size: 16px;
	color: #4b4949;
	background: #feff87;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

.price span {
	font-size: 90%;
	color: #a10917;
	font-style: italic;
	line-height: 1.5em;
}

.border {
	height: 10px;
	line-height: 0px;
	border-top: 1px dashed #ccbb96;
}

.descriptionProduct {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 22px;
	width: 100%;
}

.coloumnLeft {
	float: left;
	width: 600px;
	margin-right: 15px;
	overflow: hidden;
}

.coloumnRight {
	float: left;
	width: 290px;
}

.coloumnLeftSouvenir {
	/*
	float:left;
	width:410px;
	margin-right:15px;
	*/
	text-align: justify;
	overflow: hidden;
}

.coloumnRightSouvenir {
	/*
	float:left;
	width:470px;
	*/
}

.detail {
	font-style: italic;
}

.galleryProduct {
	background: #ececec;
	margin-bottom: 5px;
	width: 92%;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.galleryProduct p {
	font-weight: bold;
	color: #3a3a3a;
}

.galleryProduct img {
	width: 92%;
}

ul.thumbGalleryProduct {
	list-style: none;
	margin: 0;
}

ul.thumbGalleryProduct li {
	margin: 0;
	float: left;
	margin-right: 2px;
	margin-bottom: 5px;
}

ul.thumbGalleryProduct li {
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
}

.thumbGalleryProduct li:hover {
	background: #d61212;
}

.thumbGalleryProduct .active {
	background: #b20f0f;
}

.galleryProduct p {
	font-size: 11px;
	line-height: 1.5em;
	text-align: center;
	margin: 5px 10px 0px 10px;
}

.gallerySouvenir {
	background: #f0f0f0;
	margin-bottom: 5px;
	width: 100%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	min-height: 200px;
	background: #f1f1f1 url(../images/bgWood_2.jpg) repeat;
	position: relative;
	max-width: 600px;
}

.gallerySouvenir p {
	font-weight: bold;
	color: #3a3a3a;
}

.gallerySouvenir img {
	width: 95%;
	max-width: 100%;
}

ul.thumbGallerySouvenir {
	list-style: none;
	margin: 0;
}

ul.thumbGallerySouvenir li {
	margin: 0;
	float: left;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 2px;
}

ul.thumbGallerySouvenir li img {
	width: 80px;
	height: 60px;
	padding: 5px;
}

.thumbGallerySouvenir li:hover {
	background: #763804;
}

.thumbGallerySouvenir .active {
	background: #763804;
}

.gallerySouvenir p {
	font-size: 13px;
	line-height: 1.5em;
	text-align: center;
	color: #ffffff;
	margin: 5px 10px 0px 10px;
}

.recentWorks {
	margin-bottom: 30px;
	position: relative;
}

.recentWorks img {
	padding: 10px;
	background: #b06b20 url(../images/bgWood_2.jpg) repeat top left;
	max-height: 210px;
	position: relative;
	clear: both;
}

.infoCountdown {
	border-top: 4px solid #dfd20a;
	width: 200px;
	background: url(../images/info_countdown.jpg) no-repeat top center;
	background-color: #fced00;
	margin-left: 20px;
	text-align: center;
	padding-bottom: 20px;
}

.infoFinished {
	border-top: 4px solid #dfd20a;
	width: 170px;
	background: url(../images/selesai_pada_tanggal.jpg) repeat-x top left;
	background-color: #fced00;
	text-align: center;
	padding-top: 20px;
	margin-left: 20px;
}

#noticeBoard {
	width: 920px;
	height: 210px;
	background: url(../images/notice_board.jpg) no-repeat top left;
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	text-align: center;
	color: #fff;
}

.papanPengumuman {
	width: 280px;
	height: 329px;
	padding-top: 20px;
	background: url(../images/papan_pengumuman.jpg) no-repeat bottom center;
	clear: left;
	position: relative;
}

.papanPengumuman .content {
	width: 210px;
	height: 260px;
	margin-left: 35px;
	margin-top: 15px;
	font-family: Calibri;
	font-size: 17px;
	line-height: 1.4em;
	color: #ffcf27;
	text-shadow: 0 1px 0 #000;
}

#icon_sms {
	position: absolute;
	top: 130px;
	right: -29px;
	width: 42px;
	height: 110px;
	display: block;
	background: url(../images/icon_sms_orange2.png) no-repeat top left;
	z-index: 999;
}

.papanPengumuman h1 {
	font-size: 18px;
	color: #d4ff40;
	border-bottom: 1px dotted;
}

.papanPengumuman h2 {
	font-size: 14px;
	color: #9cf9ff;
	font-style: normal;
	line-height: 1.3em;
}

#slideProjectSouvenir {
	width: 487px;
}

ul#news {
	list-style: none;
}

ul#news a:link {
	color: #fff;
	text-decoration: none;
}

ul#news a:hover,
a:active {
	color: #ffcc00;
	text-decoration: none;
}


/*-------------------------------Slider------------------------------*/

#contentSlider {
	position: relative;
	z-index: 99;
}

#info {
	position: absolute;
	left: -47px;
	top: 388px;
}

.gallery {
	width: 85%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 5px;
}

#slider {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider ul,
#slider li {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* 
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/

#slider li {
	height: 350px;
	overflow: hidden;
	z-index: 99;
}

#noSlider li {
	height: 350px;
	overflow: hidden;
	z-index: 99;
}

#noSliderSouvenir li {
	overflow: hidden;
	z-index: 99;
}

p#controls {
	margin: 0;
	padding: 0;
	position: relative;
}

#prevBtn {
	display: block;
	margin: 0;
	overflow: hidden;
	width: 34px;
	height: 34px;
	position: absolute;
	left: -10px;
	top: -210px;
	z-index: 9999;
}

#nextBtn {
	display: block;
	margin: 0;
	overflow: hidden;
	width: 34px;
	height: 34px;
	position: absolute;
	right: -20px;
	top: -210px;
	z-index: 9999;
}

#prevBtn a {
	display: block;
	width: 24px;
	height: 40px;
	background: url(../images/navLeft.gif) no-repeat 0px top;
}

#nextBtn a {
	display: block;
	width: 24px;
	height: 40px;
	background: url(../images/navRight.gif) no-repeat 0px top;
}

#prevBtn a:hover {
	display: block;
	width: 24px;
	height: 40px;
	background: url(../images/navLeft.gif) no-repeat 0px bottom;
}

#nextBtn a:hover {
	display: block;
	width: 24px;
	height: 40px;
	background: url(../images/navRight.gif) no-repeat 0px bottom;
}


/*-------------------------------Theme Slider------------------------------*/

.themeWood {
	background: #a25713 url(../images/bgWood.jpg) repeat-x center top;
	width: 100%;
}

.themeWoodNoTop {
	background: #a25713 url(../images/bgWood.jpg) repeat-x center top;
	width: 100%;
}

.themeSilverNoTop {
	background: #fff url(../images/v2.jpg) repeat-x center top;
	width: 100%;
}

.themeRedDark {
	background: url(../images/bgRed.jpg) repeat-x center top;
	padding-bottom: 25px;
	width: 100%;
}

.themeSoftWood {
	background: url(../images/bg_wood.jpg) repeat-x center top;
	padding-bottom: 15px;
	width: 100%;
}

.themePaper {
	background: url(../images/bgPaper.jpg) repeat center top;
	padding-top: 10px;
	width: 100%;
}

.themeBrown {
	background: #7e6755 url(../images/bgBrown.jpg) repeat-x center top;
	width: 100%;
}

.slash {
	position: absolute;
	width: 100%;
	height: 70px;
	display: block;
	background: url(../images/slash.png) repeat-x center center;
	background-size: contain;
	z-index: 999;
}

.labelInfo {
	position: absolute;
	height: 123px;
	width: 100%;
	left: -350px;
	bottom: -60px;
	text-align: center;
	display: block;
	z-index: 9999;
}

.labelTag {
	position: absolute;
	left: 10%;
	padding: 10px;
	bottom: -10px;
	line-height: 40px;
	z-index: 9999;
	background: #ffc63e;
	font-weight: bold;
	font-size: 30px;
	color: #6b4200;
	padding: 5px 5px 5px 5px;
	border: 1px solid #f19a0d;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.faq {
	max-width: auto;
	background: url(../images/papan_tulis.jpg) repeat;
	padding: 10px;
	padding-bottom: 20px;
	border: solid 5px #8c610d;
	margin: auto;
	color: #009900;
}

.faq a {
	padding: 7px 15px;
	font: 18px;
	margin-top: 10px;
	cursor: pointer;
	color: #75be1f;
	text-decoration: none !important;
	display: block;
}

.faq a:hover {
	color: #8aea18;
}

.faq a.active {
	color: #fee015;
	font-size: 18px;
	background-position: right 5px;
}

.faq .collapse {
	margin: 0;
	background: url(../images/checked.png) no-repeat left;
	margin-left: 15px;
	padding: 5px 15px 0px 40px;
	color: #CCCCCC;
	font-size: 15px;
}


/*------------------------------Form------------------------------*/

#formSouvenir {
	margin: 32px 0 0 25px;
	float: left;
	max-width: 280px;
}

#formOrder {
	background: #ffc63e url(../images/board.jpg) repeat;
	padding-top: 35px;
	padding-left: 100px;
	padding-bottom: 30px;
	float: left;
	width: 100%;
}

form label {
	display: block;
	padding: 0;
	margin: 10px 0 0 0;
	text-align: right;
	color: #222;
}

form input,
form textarea,
form select {
	width: auto;
	margin: 10px 0 0 10px;
	font-size: 14px;
}

p.form_clear {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.btn {
	background: #ffc63e url(../images/btnYellow.jpg) repeat-x;
	font-weight: bold;
	font-size: 13px;
	color: #6b4200;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	border: 1px solid #f19a0d;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.btn:hover {
	cursor: pointer;
	color: #6b4200;
	background: #ffc63e url(../images/btnYellow2.jpg) repeat-x;
}

.errResult {
	color: #ffde84;
	display: none;
}


/*-------------------------------Paging------------------------------*/

.paging a {
	color: #cd0000;
}


/*
Table Style - This is what you want
------------------------------------------------------------------ */

.simpletable a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.simpletable a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

.simpletable a:active,
.simpletable a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

.simpletable {
	color: #666;
	font-size: 12px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin-bottom: 20px;
	border: #ccc 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.simpletable th {
	padding: 8px 10px 8px 10px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

.simpletable th:first-child {
	text-align: left;
	padding-left: 20px;
}

.simpletable tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

.simpletable tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.simpletable tr {
	text-align: center;
	padding-left: 20px;
}

.simpletable tr td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

.simpletable tr td {
	padding: 5px 15px 5px 15px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

.simpletable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top, #efefef, #f6f6f6);
}

.simpletable tr:last-child td {
	border-bottom: 0;
}

.simpletable tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.simpletable tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.simpletable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #e0e0e0, #f0f0f0);
}

.simpletable caption {
	text-align: left;
	font-size: 14px;
	color: #6f6242;
}


/*-------------------------------Footer------------------------------*/

.footer {
	padding: 0;
	margin: 0;
	background: url(../images/footer_list_kayu.png) repeat-x bottom center;
}

.footer_resize {
	line-height: 18px;
	margin: 0 auto;
	padding: 5px 0;
	color: #000;
	position: relative;
	text-align: center;
	padding-bottom: 0px;
	height: 450px;
	color: black;
	/*background:url(../images/footer_ags_2015.jpg) no-repeat bottom center;*/
	background: url(../images/footer_ags_2015.jpg) no-repeat bottom center;
}

#txtSearchFull {
	width: 200px;
}

#txtSearchMobile {
	width: 135px;
	color: #000;
}

#txtSearchFull,
#txtSearchMobile {
	padding: 3px 5px;
	height: 30px;
	line-height: 30px;
}

#btnSearchFull {
	padding: 0;
}

#txtSearchMobile,
#btnSearchMobile {
	margin-top: 10px;
}


/*-------------------------------Font------------------------------*/


/*-------------------------------Png Hack------------------------------
img, div, span, input { behavior: url("css/iepngfix.htc") }*/

@media screen and (max-width:680px) {
	/*-------------------------------Content------------------------------*/
	#content {
		border: 1px solid #c8c8c8;
		border-top: 0px;
		padding: 20px;
		padding-top: 80px;
		padding-bottom: 50px;
		background: #fff;
		width: auto;
		margin: 0px auto;
	}
	#contentSouvenir {
		border-top: 0px;
		padding: 20px;
		padding-bottom: 50px;
		width: auto;
		margin: 0px auto;
	}
	#contentSouvenir2 {
		border-top: 0px;
		padding: 20px;
		padding-bottom: 50px;
		width: 920px;
		margin: 0px auto;
		border: 1px solid #c8c8c8;
		background: #fff;
	}
	#contentThumbSouvenir {
		padding: 20px;
		padding-bottom: 50px;
		padding-top: 60px;
		width: auto;
		margin: 0px auto;
		border: 1px solid #c8c8c8;
		background: #fff;
	}
	#kategoriSouvenir {
		text-align: center;
		background: #272727;
		color: #fff;
		padding: 5px;
		width: 340px;
		float: right;
		font-size: 24px;
	}
	#sticky_navigation_wrapper {
		width: 100%;
		height: 100px;
		padding-bottom: 80px
	}
	#sticky_navigation {
		width: 100%;
		height: auto;
		background: url(../images/trans-black-40.png);
		-moz-box-shadow: 0 0 5px #999;
		-webkit-box-shadow: 0 0 5px #999;
		box-shadow: 0 0 5px #999;
	}
	#sticky_navigation ul {
		list-style: none;
		margin: 0;
	}
	#sticky_navigation ul li {
		margin: 0;
		padding: 0;
	}
	#sticky_navigation ul li a {
		width: 100px;
		font-weight: bold;
		float: left;
		white-space: nowrap;
		margin: 20px 0 0 10px;
		padding: 0 10px;
		padding-left: 5px;
		padding-right: 10px;
		height: 45px;
		line-height: 35px;
		font-size: 100%;
		font-family: Arial, Helvetica, serif;
		color: #4b4949;
		background: #f5f5f5;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	#sticky_navigation ul li a:hover {
		color: #fff;
		background: #df0707;
	}
	#sticky_navigation ul li a.selected {
		color: #fff;
		background: #df0707;
	}
	#sticky_navigation ul li img {
		height: 35px;
		vertical-align: middle;
		margin-right: 3px;
	}
	.coloumnRightSouvenir p {
		padding-bottom: 10px;
		line-height: normal;
		letter-spacing: normal;
	}
	.coloumnRightSouvenir h3 {}
	.coloumnRightSouvenir h5 {
		color: #d00018;
		display: inline;
		background: #ffc63e url(../images/btnYellow.jpg) repeat-x;
		padding: 5px 5px 5px 5px;
		border: 1px solid #f19a0d;
		-moz-border-radius: 0.3em;
		border-radius: 0.3em;
	}
	/*-------------------------------Header------------------------------*/
	#header {
		margin: 0px auto;
		max-height: inherit;
		background: #fff url(../images/topbar.jpg) repeat-x top center;
	}
	#contentHeader {
		width: auto;
		margin: 0px auto;
		display: block;
		padding-top: 18px;
		position: relative;
	}
	.listHeader {
		height: 5px;
		background: url(../images/listHeader.jpg) repeat-x bottom left;
	}
	#logo img {
		float: left;
		max-width: 100%;
		margin-left: 20px;
	}
	/*-------------------------------Menu------------------------------*/
	.menu {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
		display: block;
	}
	.menu ul {
		margin: 0 auto;
		clear: both;
		margin-top: 10px;
	}
	.menu li {
		margin: 0;
		float: left;
		list-style: none;
		text-align: center;
	}
	.menu a {
		color: #b0b0b0;
		font-weight: bold;
		text-decoration: none;
		display: block;
		text-transform: uppercase;
	}
	.menu a:hover {
		color: #ed1c24;
		display: block;
		text-decoration: none;
	}
	.menu a.active {
		color: #ed1c24;
	}
	.menuDiv {
		position: absolute;
		visibility: hidden;
		margin: 0;
		padding: 0;
		margin-left: 0px;
		margin-top: 6px;
		border-top: 3px solid #980910;
		z-index: 999;
		background: #d91a23 url(../images/bgMenu.jpg) repeat-x top left;
	}
	.menuDiv a {
		position: relative;
		display: block;
		margin: 0;
		padding: 5px 20px 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		text-transform: none;
		border-bottom: 1px dashed #ba121a;
	}
	.menuDiv a:hover {
		background: #ff0000;
		color: #FFF;
		padding: 5px 20px 5px 10px;
	}
}

.menuDiv.works {
	width: 150px;
}

.product {
	text-align: center;
	margin-bottom: 10px;
}

.product a {
	display: block;
	text-decoration: none;
}

.product a img {
	width: 100%;
	margin-bottom: 0px;
}

.product a h3 {
	color: #0b7aa8;
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	line-height: normal;
}

.product a:hover h3,
.product a.active h3 {
	color: #fff;
	background: #dc030e;
}

.menu a {
	color: #b0b0b0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 5px 0 5px 20px;
	text-transform: uppercase;
}

.menu a:hover,
.menu a.active {
	color: #ed1c24;
}

.inner-menu>a {
	position: relative;
	display: block;
	padding: 5px 20px 5px 10px;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
	font: 9px;
	text-transform: none;
	border-bottom: 1px dashed #ba121a;
}

.inner-menu>a:hover {
	background: #ff0000;
	color: #FFF;
}

.works h2 {
	font-size: 20px;
	color: #d00018;
	margin-bottom: 10px;
	padding: 5px 0;
	font-weight: bold;
	border-bottom: 1px dashed #d00018;
}

.works .img-border {
	padding: 20px;
	background: url('./assets/images/bgWood_2.jpg') repeat;
}

.works .img-border img {
	width: 100%;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #d00018;
	text-decoration: none;
	background-color: #fff;
	border: none;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
	margin-left: 0;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	z-index: 3;
	color: #d00018;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	font-weight: bold;
	background: #FFF;
	color: #d00018;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.client img {
	width: 100%;
}

@media (max-width: 992px) {
	.menu a {
		font-size: 12px;
		padding: 4px;
	}
}

@media (min-width: 768px) {
	#logo img {
		padding-top: 13px;
	}
	.menuDiv {
		float: left;
	}
	.menuDiv.printing {
		width: 200px;
	}
	.menuDiv.souvenir {
		width: 200px;
	}
	.img-slider {
		width: 750px;
	}
}

@media (min-width: 992px) {
	#logo img {
		padding-top: 7px;
	}
	.menuDiv {
		float: left;
	}
	.menuDiv.printing {
		width: 450px;
	}
	.menuDiv.souvenir {
		width: 450px;
	}
	.img-slider {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	#logo img {
		padding-top: 0;
	}
	.menuDiv {
		float: left;
	}
	.menuDiv.printing {
		width: 450px;
	}
	.menuDiv.souvenir {
		width: 450px;
	}
	.img-slider {
		width: 1170px;
	}
}

.navbar {
	margin-bottom: 0;
}

.galleryTag a {
	text-decoration: none;
	color: #6B4200;
}

.galleryTag {
	float: left;
	background-color: #FECD44;
	border-radius: 5px;
	border: 1px;
	padding: 5px 10px;
	margin: 2px 4px 2px 0;
}

.galleryTag:hover {
	background-color: #6B4200;
}

.galleryTag:hover a {
	background-color: #6B4200;
	color: #FECD44;
	text-decoration: none;
}

@media (min-width: 768px) {
	.slash {
		height: 150px;
	}
}