* {
	margin: 0;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 0;
	line-height: 1.8em;
	background:#fff url(../../assets/images/bg.jpg) repeat top center;
}
a{
	color:#da0909;
	font-weight:bold;
	text-decoration:none;
}
a:hover{
	color:#910000;
}
a img {
	border:0px;
}
a:hover img{
	border:1px;
}
ul { padding: 0} li {}
p{
	margin: 0;
	padding: 0;
}

#contain{
	position:relative;	
	margin:0px auto;
	overflow:hidden; 
}
#container{
	width:980px;
	position:relative;	
	margin:0px auto;
}

/*	Login Form */
#headerLogin{
	width:960px;
	padding-bottom:50px;
	margin:0px auto;
	margin-top:80px;
	text-align:center;
}
#login{
	margin:0px auto;
	width:310px;
	font: normal 14px Arial, Helvetica, sans-serif;
}	 
#loginform{

}
	#loginform input,textarea{
		background:#fbfbfb;				
		border:1px solid #c5c5c5;				
		color:#2f2f2f;				
		font-size:20px;				
		margin-top:3px;				
		padding:5px;				
		width:300px;				
	 }
	 #loginform input.btnLogin{
		background:#da0909;		
		color:#ffde84;
		font-size:14px;		
		padding:5px;	
		width:60px;
		cursor:pointer;
		border:0px;
	 }
	 #loginform .btnLogin:hover{
		color:#ecb60a;
		cursor:pointer;
	 }
	 #errLogin{
	 	background:#da0909;		
		border:1px solid #c3a83c;		
		color:#fff;		
		font-size:12px;		
		margin-bottom:10px;		
		padding:5px;	
		text-align:center;	
	 }
	
/*	Warning Javascript */
#warningJavascript{
	font: normal 12px Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	padding-bottom:40px;
}
#warningJavascript h2{
	font:normal 20px Arial, Helvetica, sans-serif;
	color:#01547c;
	margin:10px 0px 10px 0px;
}
#warningJavascript p{
	font: bold 12px Arial, Helvetica, sans-serif;
	margin:10px 0px 10px 0px;
}
ol { counter-reset: item }
li { display: block }
li:before {
	content: counter(item) ". ";
	counter-increment: item;
}

