* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0;
	line-height: 1.8em;
	background: #f1f1f1 url(../../assets/images/bgPaper.jpg) repeat top center;
}

a {
	color: #da0909;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #910000;
}

a img {
	border: 0px;
}

a:hover img {
	border: 1px;
}

ul {
	padding: 0
}

li {}

p {
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
	background: none;
}

#contain {
	position: relative;
	margin: 0px auto;
}

#container {
	margin: 0px auto;
	background: #f1f1f1 url(../../assets/images/bgPaper.jpg) repeat top center;
}


/*-------------------------------Fonts------------------------------*/

h1 {
	font-size: 24px;
	color: #d00018;
	letter-spacing: -1px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

h2 {
	font-size: 20px;
	color: #d00018;
	letter-spacing: -1px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

h3 {
	font-size: 18px;
	color: #d00018;
	letter-spacing: -1px;
	margin-bottom: 5px;
}

h4 {
	font-size: 17px;
	color: #5a5a5a;
}

h5 {
	font-size: 10px;
	color: #d00018;
}

em {
	font-size: 15px;
	color: #35373e;
	font-weight: bold;
}


/*-------------------------------Header------------------------------*/

#header {
	margin: 0px auto;
	height: 65px;
	background: url(../../assets/images/topbar.jpg) repeat-x top center;
}

#contentHeader {
	width: 960px;
	margin: 0px auto;
	display: block;
	padding-top: 18px;
	position: relative;
}

#cmyk {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 45px;
	height: 10px;
	display: block;
	background: url(../../assets/images/cmy2k.png) no-repeat top left;
	z-index: 999;
}

.listHeader {
	height: 5px;
	background: url(../../assets/images/listHeader.jpg) repeat-x bottom left;
}

#logo {
	float: left;
	width: 400px;
}


/*-------------------------------Menu------------------------------*/

.menu {
	margin: 0;
	padding: 0;
	float: right;
	display: inline;
}

.menu ul {
	margin: 0 auto;
	clear: both;
	margin-top: 10px;
}

.menu li {
	margin: 0;
	float: left;
	list-style: none;
	text-align: center;
}

.menu a {
	color: #b0b0b0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ed1c24;
	display: block;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.menu a.active {
	color: #ed1c24;
}

.menuDiv {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	margin-top: 6px;
	border-top: 3px solid #980910;
	z-index: 999;
	background: #d91a23 url(../../assets/images/bgMenu.jpg) repeat-x top left;
}

.menuDiv a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 20px 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font: 11px arial;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px dashed #ba121a;
}

.menuDiv a:hover {
	background: #ff0000;
	color: #FFF;
	padding: 5px 20px 5px 10px;
}


/*-------------------------------Content------------------------------*/

#content {
	border: 1px solid #c8c8c8;
	border-top: 0px;
	padding: 20px;
	padding-bottom: 50px;
	background: #fff;
	width: 920px;
	margin: 0px auto;
}

.border {
	height: 10px;
	line-height: 0px;
	border-top: 1px dashed #ccbb96;
}

.recentWorks {
	margin-bottom: 30px;
	position: relative;
}

.recentWorks img {
	padding: 10px;
	background: #1f1f1e url(../../assets/images/bgWood_2.jpg) repeat top left;
	max-height: 210px;
}

.infoCountdown {
	position: absolute;
	top: 237px;
	left: 15px;
	width: 174px;
	height: 20px;
	background: url(../../assets/images/info_countdown.jpg) repeat-x top left;
}

.infoFinished {
	position: absolute;
	top: 237px;
	left: 12px;
	width: 174px;
	height: 20px;
	background: url(../../assets/images/selesai_pada_tanggal.jpg) repeat-x top left;
}

.finished {
	width: 180px;
	height: 25px;
	margin-left: 10px;
	background-color: #fced00;
	line-height: 1.1em;
	padding-top: 25px;
	text-align: center;
	border-top: 4px solid #dfd20a;
}

.product {
	float: left;
	width: 200px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background: #f1f1f1;
	display: inline;
}

.productSouvenir {
	float: left;
	width: 200px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline;
	position: relative;
}

.product a {
	font-size: 12px;
}

.product p {
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background: #fff;
	height: 160px;
}

.productSouvenir p {
	border: 1px solid #c7c7c7;
	border-bottom: 2px solid #fff;
	overflow: hidden;
	background: #fff;
	height: 130px;
}

#sticky_navigation_wrapper {
	width: 100%;
	height: 100px;
	padding-bottom: 40px
}

#sticky_navigation {
	width: 100%;
	background: url(../../assets/images/trans-black-40.png);
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

#sticky_navigation ul {
	list-style: none;
	margin: 0;
}

#sticky_navigation ul li {
	margin: 0;
	padding: 0;
}

#sticky_navigation ul li a {
	width: 106px;
	font-weight: bold;
	float: left;
	white-space: nowrap;
	margin: 0;
	padding: 0 8px;
	padding-left: 5px;
	padding-right: 15px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	font-family: Arial, Helvetica, serif;
	color: #4b4949;
	background: #f5f5f5;
	border: 2px solid #999;
}

#sticky_navigation ul li a:hover {
	color: #fff;
	background: #df0707;
}

#sticky_navigation ul li a.selected {
	color: #fff;
	background: #df0707;
}

#sticky_navigation ul li img {
	height: 25px;
	vertical-align: middle;
	margin-right: 3px;
}


/*-------------------------------Form------------------------------*/

form label {
	display: block;
	float: left;
	padding: 0;
	margin: 5px 0 0;
	text-align: right;
	width: 140px;
}

form input,
form textarea,
form select,
form textbox {
	width: auto;
	padding: 5px;
	margin: 5px 0 0 0;
}

.ptr {
	padding: 0px;
	margin: 0px;
}

.form br {
	clear: left;
}

p.form_clear {
	clear: both;
}

p.error {
	text-align: center;
	color: red;
}

.err {
	background: #fff4b7;
	border: 1px solid #336860;
	color: #363636;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 3px;
	text-align: center;
}

.err {
	background: #da0909;
	border: 1px solid #a6a6a6;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}


/*-------------------------------Png Hack------------------------------*/

img,
div,
input {
	behavior: url("css/iepngfix.htc")
}